div{
    margin-top: 25px;
    text-decoration-color: blue;
}
h1{
    font-weight: bolder;
    text-align: center;
}
input{
    width: 200px;
    height: 25px;

}
body{
    background-color: aqua;
}
